@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;500;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  border: 5px black solid;
  padding: 5% 15%;
  margin: 5% 12% 5%;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* classes and IDs */
.burger-container {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.burger {
  display: flex;
  /* border: olivedrab 2px solid; */
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: 5%;
  margin-right: 5%;
}

.burger span {
  height: 3px;
  width: 30px;
  padding: 3px;
  margin: 1px;
  background-color: black;
}

.descriptive-text {
  font-style: italic;
  padding: 0 2%;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  list-style: none;
  background-color: black;
  color: white;
  margin: 5px;
  padding: 2px 10px;
}

.nav-link:hover {
  cursor: pointer;
}

#lorem-logo {
  margin-right: auto;
}

/* /////////////
////////////////
FLEX STYLES/////
////////////////
*/

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 7.5%;
}

.flex-item {
  justify-content: center;
}

.flex-text {
  color: white;
  margin: 5px 2px;
  padding: 2px 15px;
  background-color: black;
  flex: 1 250px;
}

/* ///////////
////Media Queries//////
///////////////// */

@media (max-width: 611px) {
  /* hides the navbar acrros the top and displays the burger nav after 611px width */
  .nav-container {
    display: none;
  }

  .burger-container {
    display: flex;
  }

  h1 {
    margin-top: 7%;
  }
}

@media screen (max-width: 950px) {
}
