@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;500;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
}

a {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  display: flex;
  background-color: black;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  border: 5px black solid;
  padding: 5% 15%;
  margin: 5% 12% 4%;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 0;
  padding: 0;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

input {
  text-align: center;
  background-color: white;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  height: 25px;
  border: none;
  border-radius: 15px;
}

img {
  max-width: 50px;
  height: auto;
}
/* classes and IDs */

.descriptive-text {
  font-style: italic;
  padding: 0 2% 5%;
}

.nav-container {
  margin: 2% 5% 5%;
}

.foot {
  margin-top: 5%;
  display: flex;
  flex: 1;
  background-color: black;
  color: white;
}

.foot p {
  margin: auto;
  padding: 20px 0;
  font-size: 12px;
  font-style: italic;
}

.mobile-nav:hover {
  color: yellow;
}

.nav-link:hover {
  cursor: pointer;
}

#col-section {
  justify-content: space-around;
  text-align: center;
}

#contact-form {
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#lorem-logo {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 2em;
  color: white;
  text-decoration: underline;
}

#other-content {
  margin-bottom: 10%;
}

#submit-btn {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 10%;
}

/* /////////////
////////////////
FLEX STYLES/////
////////////////
*/

.invert:hover {
  border: 5px solid black;
  background-color: white;
  color: black;
  transition: 1s;
  flex-grow: 3;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 5%;
}

.heading-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10% 7.5% 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 7.5%;
}

.flex-col {
  display: flex;
  flex-flow: column wrap;
  color: white;
  background-color: black;
}

.flex-item {
  justify-content: center;
}

.flex-text {
  color: white;
  margin: 5px 2px;
  padding: 2px 15px;
  background-color: black;
  flex: 1 250px;
  border: 5px solid black;
  border-radius: 5px;
}

/* .flex-text:hover {
  border: 5px solid black;
  background-color: white;
  color: black;
  transition: 0.6s;
} */

/* NEW NAV */
.navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 200;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 600ms ease-in-out;
}
.navigation.active {
  clip-path: circle(75%);
}
.navigation .ham-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.navigation .ham-btn span {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 2px;
  background: white;
  transition: all 200ms ease-in-out;
}
.navigation .ham-btn span:nth-child(1) {
  top: 30%;
}
.navigation .ham-btn span:nth-child(2) {
  top: 50%;
}
.navigation .ham-btn span:nth-child(3) {
  top: 70%;
}

.navigation.active .ham-btn span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.navigation.active .ham-btn span:nth-child(2) {
  display: none;
}
.navigation.active .ham-btn span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navigation .links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navigation .links a {
  position: relative;
  display: inline-block;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-family: "roboto";
}
.navigation .links a:after {
  /* creates an underline feature without text-decoration */
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 2px;
  width: 0%;
  background: white;
  transition: all 300ms ease-in-out;
}
.navigation .links a:hover:after {
  /* animates the underline */
  width: 100%;
}

/* ///////////
////Media Queries//////
///////////////// */

@media (max-width: 600px) {
  h1 {
    margin: 5% 5%;
  }
}

@media (max-width: 611px) {
  /* hides the navbar acrros the top and displays the burger nav after 611px width */
  .nav-container {
    display: none;
  }

  .burger-container {
    display: flex;
  }

  h1 {
    margin-top: 7%;
  }

  #other-content {
    margin-bottom: 7%;
  }
}

@media (min-width: 950px) {
  /* at 950px this creates a 2 column layout for the h1 and the page description */
  h1 {
    max-width: 45%;
    padding: 5% 15%;
    margin: 5%;
  }

  .heading-container {
    margin: 0 5%;
  }

  .descriptive-text {
    max-width: 45%;
    justify-content: center;
    margin: 10% 0;
  }

  .nav-container {
    margin: 2% 10% 5%;
  }

  #contact-form {
    flex-grow: 2.5;
  }

  #last-lorem {
    order: -1;
  }

  #other-content {
    margin-bottom: 3%;
  }
}
