@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;500;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  border: 5px black solid;
  padding: 5% 15%;
  margin: 5% 12% 4%;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* classes and IDs */
.hidden {
  display: diplay;
}

.burger-container {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.burger {
  display: flex;
  /* border: olivedrab 2px solid; */
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: 5%;
  margin-right: 1%;
  z-index: 99;
}

.burger:hover {
  cursor: pointer;
}

.burger span {
  height: 3px;
  width: 30px;
  padding: 3px;
  margin: 1px;
  background-color: black;
  transition: 0.4s;
}

.descriptive-text {
  font-style: italic;
  padding: 0 2%;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  list-style: none;
  background-color: black;
  color: white;
  margin: 5px;
  padding: 4px 10px;
}
.mobile-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  list-style: none;
  background-color: black;
  color: white;
  margin: 5% auto;
  padding: 2px 10px;
  display: flex;
}

.mobile-nav:hover {
  color: yellow;
}

.nav-link:hover {
  cursor: pointer;
}

#lorem-logo {
  margin-right: auto;
}

#footer-text {
  color: white;
  background-color: black;
  margin-bottom: 0;
  width: 100%;
}

/* #hiddenNav {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex; */
/* } */

/* /////////////
////////////////
FLEX STYLES/////
////////////////
*/

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 5%;
}

.heading-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 7.5%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 7.5%;
}

.flex-item {
  justify-content: center;
}

.flex-text {
  color: white;
  margin: 5px 2px;
  padding: 2px 15px;
  background-color: black;
  flex: 1 250px;
  border: 5px solid black;
}

.flex-text:hover {
  border: 5px solid black;
  background-color: white;
  color: black;
  transition: 0.6s;
}

/* ///////////
////Media Queries//////
///////////////// */

@media (max-width: 600px) {
  h1 {
    margin: 5% 5%;
  }
}

@media (max-width: 611px) {
  /* hides the navbar acrros the top and displays the burger nav after 611px width */
  .nav-container {
    display: none;
  }

  .burger-container {
    display: flex;
  }

  h1 {
    margin-top: 7%;
  }
}

@media (min-width: 950px) {
  /* at 950px this creates a 2 column layout for the h1 and the page description */
  h1 {
    max-width: 45%;
    padding: 5% 15%;
    margin: 5%;
  }

  .heading-container {
    margin: 0 5%;
  }

  .descriptive-text {
    max-width: 45%;
    justify-content: center;
    margin: 10% 0;
  }

  .nav-container {
    margin: 0% 10% 5%;
  }
}

/* ///////////////////
/////BURGER TRANSITION/ 
//////////////////////*/

.bar-1,
.bar-2,
.bar-3 {
  z-index: 99;
}

.burger-container .change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-11px, 0px);
}

.burger-container .change .bar-2 {
  opacity: 0;
}

.burger-container .change .bar-3 {
  -webkit-transform: rotate(45deg) translate(10px, -0px);
  transform: rotate(45deg) translate(-11px, -0);
}
